@model IEnumerable<VideoLocadora.Models.Genre>

@{
    ViewBag.Title = "Genero";
}

@using (Html.BeginForm("Delete", "Genre", FormMethod.Post))
{
    <div class="container">
        <h2>Lista de generos</h2>
        @Html.ValidationSummary(true)
        <table class="table">
            <tbody>
                <tr>
                <tr>
                    <th>
                        <label>Nome</label>
                    </th>
                    <th>
                        <label>Data de criação</label>
                    </th>
                    <th>
                        <label>Ativo</label>
                    </th>
                    <th>
                        <label>Alterar</label>
                    </th>
                    <th>
                        <label>Excluir</label>
                    </th>
                </tr>

                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <label for="@item.Name">@item.Name </label>
                            </td>
                            <td>
                                <label for="@item.Name">@item.CreationDate.ToString("dd-MM-yyyy") </label>
                            </td>
                            <td>
                                <label for="@item.Active"> @item.Active</label>
                            </td>
                            <td>
                                @Html.ActionLink("Alterar", "Update", "Genre", new { @Id = item.Id }, null)
                            </td>
                            <td>
                                <input type="checkbox"
                                       name="Id"
                                       value="@item.Id" id="@item.Id" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        
        @Html.ActionLink("Cadastro de Genero", "Insert", "Genre", new { @class = "btn btn-default" })
        <input type="submit" value="Excluir" class=" btn btn-default" />
    </div>
}
